<main>

<div class="container" style="background-color: blue;">

<div class="row">
    <div class="col-6">
        <font>
            <input type="text" placeholder="nome do produto">
            <input type="text" placeholder="preço">
            <input type="file">
            <input type="submit" value="Enviar">
        </font>
</div>
    
</div>

<div class="container">
    <div class="row">
        {{#each produtos}}
            <div class="col-12">
            <div class="card">
                <div class="textos">

                <p>{{nome}}</p>
                <p>{{preco}}</p>
                </div>
            </div>

        </div>
        {{/each}}
    </div>

</div>

</main>